body {
    background-color: black;
}

.header {
    background-color: antiquewhite;
    text-align: center;
    width: auto;
    height: 50px;
}

footer {
    width: auto;
}
p.footer {
    background-color: antiquewhite;
    width: auto;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50% 0 0 -50%;
}