.page {
    margin: 5% 10% 10% 10%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 10px 10px;
}
.title {
    font-weight: bold;
    font-size: 26px;
}
.title_a {
    font-weight: bold;
    font-size: 30px;
    padding: 1% 1% 1% 1%;
    justify-content: center;
    display: flex !important;
}
.title_b {
    padding: 1% 1% 1% 1%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    display: flex !important;
}
.text {
    font-size: 15px;
    margin: 1% 5% 1% 5%;
}
.code {
    padding: 2% 2% 2% 2%;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 5px 5px 5px 5px;
    margin: 3% 3% 3% 3%;
}
.code_text {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}
.title_center {
    justify-content: center;
    display: flex !important;
    font-size: 35px;
    font-weight: bold;
    padding: 1% 1% 1% 1%;
}
.article_img {
    margin: 1% 1% 1% 1%;
    border-radius: 10px 10px 10px 10px;
	height: 150px;
	width: auto;
}

p {
  line-height: 1.5;
}

p br {
  display: block;
  content: "";
  margin-top: 0.75em; /* 增加换行后的行距 */
}